<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="shortcut icon" href="#">
        <title>GAME JS </title>
    
    </head>

<body class="between w-full h-[610px] bg-[#55aa42] font-press ">
    <div class="flex justify-between p-10 mb-10 ">
        <button class="btn again bg-white  h-20 w-32">Again!</button>

        <h1 class=" text-white text-xl translate-y-5">(Between 1 and 20)</h1>
        </div>
        <h1 class="text-white text-center translate-x-4 text-3xl  mb-28"> Guess my Number!</h1>
        <div class=" relative">
            <div class="w-auto h-5 bg-white "></div>
            <div class="number h-32 w-40 bg-white translate-x-72 text-center p-10 mb-10 -translate-y-20 text-5xl ">
                ? </div>

    </div>
    <div class="flex justify-items-stretch">
        <div class="flex flex-wrap w-1/2">
            <input type="number"
                class="guess w-48 h-28 mb-28 translate-x-20 -translate-y-16 bg-[#55aa42] border border-white border-spacing-16  text-center text-white text-5xl ">
            <button
                class="check   bg-white  h-20 w-36 translate-y-20 -translate-x-20  text-2xl font-bold #55aa42 ">Check!</button>
        </div>
        <div class="w-1/2 translate-x-10 -translate-y-10 ">
            <p class="message text-white text-xl font-bold mb-14">Start guessing....</p>
            <p class="text-white text-xl font-bold mb-4">💯 Score: <span class="score">20</span></p>
            <p class="text-white text-xl font-bold mb-4">🏆 Highscore: <span class="highscore">0</span></p>
        </div>
    
        </div>
        <script src="./js/script1.js"></script>
    </body>

</html>
